<html>
<!--[diy=diy3]-->
        <div id="diy3" class="area3">
          <h3>Hello World！</h3>
          <p>【排三排五讨论区】134期阅读dwa:3</p>			
          <p>【排三排五讨论区】134期看尾跨和阅读:8
          <p>【快乐八】我的水帖阅读:7</p>
          <p>【北京赛车PK10】8码滚雪球500本金阅读:8</p>
          <p>【快乐八】我的水帖阅读:7</p>
          <p>【北京赛车PK10】8码滚雪球500本金阅读:8</p>
          <p>【排三排五讨论区】134期阅读dwa:3</p>		
          <p>【排三排五讨论区】134期看尾跨和阅读:8</p>
          <p>【快乐八】我的水帖阅读:dwakldw</p>
        </div><!--[/diy=diy3]-->
        <ul id="ul1">
          <li>《排三排五讨论区》134期阅读dwa:3</li>
          <li>《快乐八》我的水帖阅读:7</li>
          <li>《北京赛车PK10》8码滚雪球500本金阅读:8</li>
          <li>《幸运飞艇PK10》八码滚雪球。四期一收阅读:16</li>
          <li>《重庆时时彩PK10》八码滚雪球。四期一收阅读:15</li>
        </ul>
</html>