<!--{template common/header}-->
<style id="diy_style" type="text/css"></style>
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"><div id="frameotIqby" class="frame move-span cl frame-1-1"><div id="frameotIqby_left" class="column frame-1-1-l"><div id="frameotIqby_left_temp" class="move-span temp"></div><!--{block/88}--></div><div id="frameotIqby_center" class="column frame-1-1-r"><div id="frameotIqby_center_temp" class="move-span temp"></div><!--{block/89}--></div></div><div id="framevpq2lK" class="frame move-span cl frame-1-1"><div id="framevpq2lK_left" class="column frame-1-1-l"><div id="framevpq2lK_left_temp" class="move-span temp"></div><!--{block/94}--></div><div id="framevpq2lK_center" class="column frame-1-1-r"><div id="framevpq2lK_center_temp" class="move-span temp"></div><!--{block/95}--></div></div></div><!--[/diy]-->
</div>

<!--{template common/footer}-->
