<!--{template common/header}-->
<style id="diy_style" type="text/css">
	#diy1{
			border: 0px solid blueviolet;
			width: 30%;
			height: 100%;
			float: left;
	}
	#diy2{
		border: 0px solid blueviolet;
		width: 35%;
		height: 100%;
		float: left;
	}
	#diy3{
		border: 0px solid blueviolet;
		width: 35%;
		height: 100%;
		float: right;
	}
</style>
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area">
											<p>【北京赛车PK10】8码滚雪球500本金阅读:8</p>
											<p>【重庆时时彩】PK10.八码滚雪球。四期一收阅读:15</p>
											<p>【幸运飞艇】PK10.八码滚雪球。四期一收阅读:16</p>
											<p>【北京赛车PK10】PK10。八码滚雪球。四期一收阅读:27</p>
										</div><!--[/diy]-->
	<!--[diy=diy2]--><div id="diy2" class="area">
											<p>BBS开发阿迪王爱我的离开了两款</p>
											<p>【快乐八】我的水帖阅读:7</p>
											<p>【北京赛车PK10】8码滚雪球500本金阅读:8</p>
											<p>【幸运飞艇】PK10.八码滚雪球。四期一收阅读:16</p>
											<p>【北京赛车PK10】PK10。八码滚雪球。四期一收阅读:27</p>
										</div><!--[/diy]-->
	<!--[diy=diy3]--><div id="diy3" class="area">
											<p>【排三排五讨论区】134期阅读:3</p>
											<p>【北京赛车PK10】8码滚雪球500本金阅读:8</p>		
											<p>【排三排五讨论区】134期看尾跨和阅读:8
											<p>【北京赛车PK10】8码滚雪球500本金阅读:8</p>
											<p>【快乐八】我的水帖阅读:7</p>
											<p>【北京赛车PK10】8码滚雪球500本金阅读:8</p>
										</div><!--[/diy=diy3]-->
	<!--[diy=diy3]--><div id="clear" class="area"></div><!--[/diy=diy3]-->
</div>
<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}-->
