<!--{template common/header}-->
<style type="text/css">
	.wp {
		width: auto;
	}
</style>
	<link rel="stylesheet" href="static/css/tools.css" />
	    <div class="banner_container">
	    	<ul id="slides">
	    		<li style="background:url(static/image/tools/1.jpg) no-repeat 50% 0px; z-index: 900px;"></li>
	    		<li style="background:url(static/image/tools/201602221510015175.jpg) no-repeat 50% 0px; z-index: 900px;"></li>
	    	</ul>
	    </div>
	    
	    <div class="tools">
	    	<div class="tools_container">
	    		<div class="tools_left">
	    			<span class="search_box">
	    				<input type="text" autocomplete="off" class="search" name="search" placeholder="请输入你想搜索的工具">
	    				<i class="fa fa-search search_icon"></i>
	    			</span>
	    			<a class="icon_one comment" href="javascript:;" data-id="1" target="_blank">
	    				<span class="php"></span>
	    				<em>PHP工具</em>
	    				<i class="fa fa-caret-up caret"></i>
	    			</a>
	    			<a class="icon_two comment" href="javascript:;" data-id="2" target="_blank">
	    				<span class="jq"></span>
	    				<em>JQuery插件</em>
	    				<i class="fa fa-caret-up caret"></i>
	    			</a>
	    			<a class="icon_three comment" href="javascript:;" data-id="3" target="_blank">
	    				<span class="H5"></span>
	    				<em>HTML5工具</em>
	    				<i class="fa fa-caret-up caret"></i>
	    			</a>
	    			
	    			<a class="icon_four comment" href="javascript:;" data-id="4" target="_blank">
	    				<span class="linux"></span>
	    				<em>Linux组件</em>
	    				<i class="fa fa-caret-up caret"></i>
	    			</a>
	    			<a class="icon_five comment" href="javascript:;" data-id="5" target="_blank">
	    				<span class="js"></span>
	    				<em>JavaScript工具</em>
	    				<i class="fa fa-caret-up caret"></i>
	    			</a>
	    			<a class="icon_six comment" href="javascript:;" data-id="6" target="_blank">
	    				<span class="development"></span>
	    				<em>开发工具</em>
	    				<i class="fa fa-caret-up caret"></i>
	    			</a>
	    			<a class="icon_seven comment" href="javascript:;" data-id="7" target="_blank">
	    				<span class="server"></span>
	    				<em>服务器工具</em>
	    				<i class="fa fa-caret-up caret"></i>
	    			</a>
	    			<a class="icon_eight comment" href="javascript:;" data-id="8" target="_blank">
	    				<span class="other"></span>
	    				<em>其他软件</em>
	    				<i class="fa fa-caret-up caret"></i>
	    			</a>
	    			<a class="upload" href="tool.php?mod=index&action=upload">我要上传</a>
	    		</div>
	    		<div class="tools_right">
	    		<!--{loop $tool_list $val}-->
	    			<div class="tools_classify" >
	    				<a class="tools_img" href="javascript:;" target="_blank">
	    					<img src="data/attachment/tool/tool_pic/{$val['tool_pic']}">
	    				</a>
	    				<div class="tools_info">
	    					<a href="javascript:;" target="_blank">{$val['tool_name']}</a>
	    					<p>{$val['tool_desc']}</p>
	    				</div>
	    				<div class="tools_fields">
	    					<i class="fa fa-indent indent"></i>
	    					<span>{$val['tool_tag']}</span>
	    				</div>
	    				<div class="tools_stat">
	    					<i class="fa fa-eye eye"></i>
	    					<span class="number">{$val['tool_viewnum']}</span>
	    					<div class="tools_author" title="提供者">
	    						<i class="fa fa-user user"></i>
	    					</div>
	    					<div class="author_name">{$val['tool_user']}</div>
	    				</div>
	    			</div>
	    			<!--{/loop}-->
	    			
	    			<div class="pagination"> 
	    							{$page_html}
	    							</div>
	    		</div>
               <!--  <div class="tools_right"><img src="static/image/serch-null.png" width="340" height="400" alt="" style=" display:block;margin:3rem auto 4rem"/></div>
               	    	</div> -->
	    </div>

		
	<script>
		jQuery(function(){
			leftNavArr = ['one_icon','two_icon','three_icon','four_icon','five_icon','six_icon','seven_icon','eight_icon']
			var leftaA = jQuery(".comment");
         	var olderRoot = jQuery(".comment").parent().find('.root');
         	var olderIndex = olderRoot.index() || 0;
         	leftaA.on('click',function(event){
             var index = jQuery(this).index()-1;
             //数据分类ID
             var dataId = jQuery(this).attr('data-id');
             olderRoot.removeClass(leftNavArr[olderIndex]).removeClass('root');
             jQuery(this).addClass('root').addClass(leftNavArr[index]);
             jQuery(this).find("i").css("display","block").parent(".comment").siblings().find("i").hide();
             olderIndex = index;
             olderRoot = jQuery(this);
//           var color = jQuery(this).css("background-color");
//
//           jQuery.fn.getHexBackgroundColor=function(property)
//				{ 
//					var rgb=property;
//				    rgb=rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)jQuery/); 
//				    function hex(x) 
//				    { 
//				      return ("0"+parseInt(x).toString(16)).slice(-2); 
//				    } 
//				    rgb="#"+hex(rgb[1])+hex(rgb[2])+hex(rgb[3]); 
//
//				  return rgb; 
//				}  
//           var kk=jQuery.fn.getHexBackgroundColor(color);
//         	jQuery(".tools_img").css("border-color",kk);
//           ajaxData(dataId);
             event.stopPropagation();
             event.preventDefault();
             return false;
             
			});
			var k=0;
			jQuery(".tools_classify").each(function(){
				k++;
				if(k<17){
					jQuery(this).children(".tools_img").addClass("qq"+k);
					
				}else{
					jQuery(this).children(".tools_img").addClass("qq1");
					k=1;
				}
			});
			
			jQuery(".search").focus(function(){
				jQuery(this).css("box-shadow","rgba(102,175,233,0.5) 0px 0px 6px");
			})
			jQuery(".search").blur(function(){
				jQuery(this).css("box-shadow","1px 1px 8px rgba(210,206,206,0.35) inset,1px 1px 4px rgba(255,255,255,0.4)");
			})
			
			jQuery(".tools_author .user").click(function(){
				jQuery(this).parent(".tools_author").hide(300).siblings(".author_name").show(300);
			});
			jQuery(".author_name").click(function(){
				jQuery(this).hide(300).siblings(".tools_author").show(300);
			});
			jQuery(document).scroll(function(){
//				var scrTop = (document.body.scrollTop || document.documentElement.scrollTop);
				var top = jQuery(document).scrollTop() ; 
				if(top>486){
					if(top<1020){
						jQuery(".tools_left").css("top", (top-490) + "px");
					}
				}else{
					jQuery(".tools_left").css("top", "0px");
				}
			})
        });
	</script>
<!--{template common/footer}-->